
<%= form_for @resource do |f| %>
<% if @resource.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@resource.errors.count, 'error') %> prohibited this resource from being saved: </h2>
  <ul>
    <% @resource.errors.full_messages.each do |a| %>
    <li><%= a %></li>
    <% end %>
  </ul>
</div>
<% end %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :link %>
  <%= f.text_field :link %>
<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>