
<div class="show_resource">
  <h1><%= link_to(@resource.title, "http://#{@resource.link}") %></h1>
  <span class="creator"><%= @creator.username %></span>
  <% if @creator.id == @user.id %>
  <small><%= link_to 'edit', edit_resource_path(@resource) %> |  <%= link_to 'delete' , resource_path(@resource), method: :delete, data: {confirm: 'Are you sure?'} %></small>
  <% end %>
  <div class="resource_description">
    <p>
      <%= @resource.description %>
    </p>
  </div>
</div>
<div class="comments">

</div>

